.uploadcontainer{
    @apply ml-2.5;
} 

.uploadtitle {
    @apply my-2 font-bold text-lg  border-b-8 border-white w-11/12  ;
}

.list li{
    @apply text-gray-500 pb-2.5 hover:bg-slate-300;
}

.list li:hover{
    color: #000;
    font-weight: bold;
    background-color: #CAC3B8;
}
