.rootContainer {
    @apply w-16 h-full flex;
    flex-flow: column;
}

.logo {
    @apply bg-black text-white rounded-full w-14 h-14 m-auto flex items-center justify-center;
}

.navbody {
    @apply flex-grow flex justify-center flex-col text-xs font-bold ;
    flex-grow: 1;
}

.navItem {
    @apply w-14 h-14 flex items-center justify-center flex-col ;
}
.navItem:hover{
    background-color: #CAC3B8;
}